h1{
    display: flex;
    justify-content: center;
    margin: 10px 10px;
    font-weight: bold;
    font-size: 60px;
}
.entry-list{
    
    min-height: 300px;
    min-width: 400px;
    background-color: rgb(215, 220, 220);
    margin: 30px 30px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8);
    list-style: none;
}
.entry{
    padding: 10px 10px;
    min-width: 170px;
}
.entry-header,.entry-item{
    padding: 10px 10px;
}
.delete-btn{
    padding: 10px 10px;
    background-color: red;
    color: white;
}
.delete-btn:hover{
    background-color: rgb(239, 43, 43);
}
.update-btn{
    margin-left: 5px;
    padding: 10px 10px;
    background-color: green;
    text-decoration: none;
    color: white;
    border-radius: 12px;
}
.update-btn:hover{
    background-color: rgb(50, 163, 50);
}




