*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    display: flex;
    /* background-color: rgb(0, 0, 0); */
    background-image: linear-gradient(rgb(23, 22, 23),#804d14);
    color: white;
    padding: 20px 15px;
    justify-content: space-between;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    align-self: center;
}
.nav-links{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}
.navl{
    color: white;
    margin-right: 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}
.navl:hover{
    color: blanchedalmond;
}